<!-- <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" >
        @for( page of pages; track page){
                    <a class="page-link" (click)="changePage(page)">{{ page }}</a>

        }
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav> -->

<div class="row">
  <div class="col-md-12 mt-30 text-center">
    <ul class="pagination-wrap">
      <!-- Left arrow -->
      <li [class.disabled]="currentPage === 1">
        <a (click)="changePage(currentPage - 1)">
          <i class="ti-angle-left"></i>
        </a>
      </li>

      <!-- Page numbers -->
      @for (page of pages; track page) {
        <li>
          <a 
            (click)="changePage(page)" 
            [class.active]="page === currentPage"
          >
            {{ page }}
          </a>
        </li>
      }

      <!-- Right arrow -->
      <li [class.disabled]="currentPage === totalPages">
        <a (click)="changePage(currentPage + 1)">
          <i class="ti-angle-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

  